<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/6cc08cc3c7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="room.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>

</head>
<body>
  <div class="container loader">
    <i class="fas fa-tv fa-4x">
      <div class="tvEffect container">
        <div class="container tvBackground">
          <div class="tvColor"></div>
          <div class="tvColor"></div>
          <div class="tvColor"></div>
          <div class="tvColor"></div>
          <div class="tvColor"></div>
          <div class="tvColor"></div>
        </div>
      </div>
    </i>

    <h1>WatchPartyTime</h1>
    <div class="loading load">

    </div>
  </div>
<div class="mainWrapper">
  <div class="menu">
    
  </div>
  <div class="container popup">
    <div class="container popupText">
      <div class="container popupMoreText">
      <!--  <p>Choose a color and whether you'd like to host or view the movie.</p> -->
      <p>
        Would you like to host, view with chat, or view without chat?
      </div>
      <!--<div class="container colors">
        <div class="color yellow" id="yellow"></div>
        <div class="color red"id ="red"></div>
        <div class="color turq" id="turq"></div>
        <div class="color blue" id="blue"></div>
        <div class="color orange" id="orange"></div>
        <div class="color purple" id="purple"></div>
        <div class="color green" id="green"></div>
        <div class="color pink" id="pink"></div>
      </div> -->
    </div>
    <div class="container popupOptions">
      <div class="container option" id="screen">
        <p class="screen">
          Host
        </p>

      </div>
      <div class="container option" id="mic">
        <p class="mic">
          Voice chat
        </p>

      </div>
      <div class="container option" id="noChat">
        <p class="noChat">
          No chat
        </p>

      </div>
    </div>
  </div>
  <div class="container" id="theShow">
  <!--  <div class="cover">

  </div>  -->
    <div class="peepsContainer container">
      <div class="movieButton">

      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
<script type="text/javascript" src="script.js" defer></script>
</html>
