/*General*/
* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Roboto";
}
.container {
  display: flex;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/*Overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  align-items: center;
  justify-content: center;
  display: none;
}
.overlayCarousel {
  width: 70%;
  height: 95%;
  position: relative;
  align-items: center;
  justify-content: center;
}


.oc {
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  transition: all 0.25s;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
  padding-bottom: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.oc * {
  padding: 1.25%;
}
.ocNext {
  transform: translateX(200%);
  opacity: 0;
}
.overlayImg {
  height: 60%;
}
.oc p {
  margin: 0;
}
.overlayBottom {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 1.25%;
  left: 0;
}
.copyContainer {
  width: 40%;
  padding-left: 1.25%;
}
.copyContainerInner {
  position: relative;
  user-select: none;
  width: 50%;
  flex-direction: row;
  cursor: pointer;
  padding: 0 2.5%;
  justify-content: space-around;
  align-items: center;
  transition: all 0.25s;
}
.copyContainerInner:hover {
  box-shadow: 1px 1px 3px #333;
}
.copyContainerInner:target {
  border: 5px solid green;
}
.fa-check {
  color: green;
  position: absolute;
  right: -20%;
  opacity: 1;
  transition: opacity 0.25s;
}
.fa-copy {
  border: 2px solid #333;
  padding: 5%;
  border-radius: 50%;
}
.overlayControls {
  width: 30%;
  align-items: center;
}
.overlayInds {
  padding: 0 25%;
  width: 100%;
  height: 25%;
  justify-content: space-around;
  flex-direction: row;
}
.overlayInd {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
}
.nextButtonWrapper {
  justify-content: space-around;
  width: 40%;
}
.nextButton {
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  background: rgb(52,0,159);
  color: white;
  transition: box-shadow 0.25s, opacity 0.25s;
}
.nextButton:hover {
  box-shadow: 0 0 5px rgb(52,0,159);
}
.seethrough {
  opacity: 0;
}
.seeyou {
  opacity: 1;
}
/*Loader*/
.load {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0;
  transition: all 0.25s linear 0.15s;
}
.loading {
  opacity: 1;
}
.loader {
  background: #333;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  transition: opacity 1s;
  opacity: 1;
  color: white;
}
.loaded {
  opacity: 0;
  transition: opacity 1s;
  }
  .fa-tv {
    color: black;
    text-shadow: 0 0 3px white;
    position: relative;
  }

  .tvEffect {
    top: 5%;
    left: 7%;
    position: absolute;
    width: 85%;
    height: 70%;
    background: #333;
    opacity: 1;
    transition: all 1s;
  }
  @keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
  }
  .tvBackground {
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 5px 3px rgba(255,255,255,0.5);
    animation: flicker 0.1s infinite;
  }
  .tvBackgroundMovie {
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 5px 3px rgba(255,255,255,0.5);
    transition: all 1s;
  }
  .tvColor {
    width: 16.66%;
  }
  .tvColor:nth-child(1) {
    background: white;
    box-shadow: -2px 0px 5px -0.5px white, 0px 2px 5px -0.5px white, 0px -2px 5px -0.5px white;
  }
  .tvColor:nth-child(2) {
    background: yellow;
    box-shadow: 0px 2px 5px -0.5px yellow, 0px -2px 5px -0.5px yellow;

  }
  .tvColor:nth-child(3) {
    background: rgb(92, 180, 255);
    box-shadow: 0px 2px 5px -0.5px rgb(92, 180, 255), 0px -2px 5px -0.5px rgb(92, 180, 255);
  }
  .tvColor:nth-child(4) {
    background: rgb(13, 255, 58);
    box-shadow: 0px 2px 5px -0.5px rgb(13, 255, 58), 0px -2px 5px -0.5px rgb(13, 255, 58);
  }
  .tvColor:nth-child(5) {
    background: hotpink;
    box-shadow: 0px 2px 5px -0.5px hotpink, 0px -2px 5px -0.5px hotpink;
  }
  .tvColor:nth-child(6) {
    background: red;
    box-shadow: 2px 0px 5px -0.5px red, 0px 2px 5px -0.5px white, 0px -2px 5px -0.5px red;
  }

  /*Main*/

.mainWrapper {
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0,0,0,0.9);
  width: 100vw;
  height: 100vh;
  transition: all 0.75s;
}

.popup {
  border-radius: 5px;
  background: #333;
  color: white;
  z-index: 10000;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 40vh;
  margin: auto auto;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 15px 15px 10px -1px rgba(0,0,0,0.25);
  transition: all 1s;
}

.option {
  z-index: 1;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.5);
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0 1rem;
}
.option p {
  text-align: center;
}
.option div {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
}
.popupClicked {
  display: none;
  transition: all 1s;

}
.popupText {
  flex-direction: column;
  height: 60%;
  width: 100%;
  padding: 0 5rem;
}
.popupMoreText {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

/*----Colors----*/
.red {
  background: rgb(227, 0, 0);
  border: 1px solid rgba(255,255,255,0.5);
}
.blue {
  background: rgb(0,0,255);
  border: 1px solid rgba(255,255,255,0.5);
}
.purple {
  background: rgb(138,43,226);
  border: 1px solid rgba(255,255,255,0.5);
}
.orange {
  background: rgb(255, 69, 0);
  border: 1px solid rgba(255,255,255,0.5);
}
.green {
  background: rgb(0, 128, 0);
  border: 1px solid rgba(255,255,255,0.5);
}
.yellow {
  background: rgb(255,255,0);
  border: 1px solid rgba(255,255,255,0.5);
}
.turq {
  background: rgb(0,206,209);
  border: 1px solid rgba(255,255,255,0.5);
}
.pink {
  background: #FF00FF;
  border: 1px solid rgba(255,255,255,0.5);
}
.colorPicked {
  box-shadow: 0 0 5px white;
}

.movieInactive {
  background: grey;
  color: rgb(52,0,159);
  pointer-events: none;
  cursor: not-allowed !important;
}

.peepsWrapper {
  z-index: 2;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15vw;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.25);
  transition: all 0.75s;
  backdrop-filter: blur(3px);
}
.peepsContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 75%;
  transition: all 0.75s;
}
.peep {
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 30%;
  height: 0.95em;
  width: 0.95em;
  background: rgba(48,95,255,1);
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 1;
}
.peep video {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.context {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid black;
  background: white;
  height: 200%;
  top: -50%;
  left: 120%;
  transition: all 0.25s;
}
.contextActive {
  visibility:visible;
  opacity: 1;
}
.context input {
}

.peepsActive {
  background: rgba(255,255,255,0.15);
    transform: translateX(-80%);
}
.peepsActive .peep {
  background: rgba(48, 95, 255, 0.75);

}
.peepInactive {
  opacity: 0.5;
}
.tvBackgroundMovieTime {
  opacity: 0;
}
.movieButton {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6.25%;
  padding: 2.5% 5%;
  border-radius: 5px;
  transition: all 0.5s;
}
.movieButtonMovie {
  transform: translateX(25%);
}
.movieButtonMovie .movieButton {
  opacity: 0.5;
}
.movieTime {
  background: rgba(0,0,0,0.9);
}
#theShow {
  background: white;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}
.movie {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
